# --extra-index-url https://us-python.pkg.dev/ml-oss-artifacts-published/jax/simple/
# --find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
# --pre

tpu-inference @ git+https://github.com/vllm-project/tpu-inference.git@df7d1ff56fc29b40ca1ff266832497a0c063ca04

